*{
    list-style: none;
}

body{
    width: 100vw;
    margin: 0;
    font-family: header;
    height: 100vh;
    display: flex;
    flex-direction: column;
    
}




header a{
    text-decoration: none;
    color:rgb(238, 148, 30);
    box-sizing: border-box;
    justify-items: center;
}



.logo{
    width: 10px;
    height: 10px;
    margin-right: 10px;
}

.header-img a > img{
    height: 20vh;
}

.nav-link {
    margin-top: 10px;
    font-weight: 500;
    padding: 15px 9px;
    font-size: 25px;
    color: rgb(238, 148, 30);
    transition: all 0.3s ease;
    border-bottom: 1px solid gold;
    
}

.nav-link:hover {
    background-color: bisque;
    color: #000;
    
    padding: 12px 17px;
}
.header-nav {
    display: flex;
   justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #24262b;
    flex-wrap: wrap;
}

.menu{
    display: flex;
    width: 270px;
    justify-content: center;
    margin: 60px;
    
}

/* MAIN */


.main{
    width: 100vw;
    height: 300vh;
    background-color: #d5dacc;
    align-items: center;
    box-sizing: border-box;
}


.main-box{
    display: flex;
    
}

.main-boximg{
    width: 100vw;
    height: 100vh;
    margin-left: 400px;


}

.main-boximg img{
    width: 40vw;
    height: 69.6vh;
    background-size: cover; 
    background-position: center;
    margin-top: -42px;
}
.main-boximg h3{
    font-size: 70px;
    font-weight: 400;
    width: 300px;
    height: 80px;
    color: goldenrod;
    border-bottom: 2px solid rgb(198, 132, 9);
    
}


.main-boxtext{
    background-color: #FFFFFF;
    width: 50vw;
    height: 72vh;
    box-shadow: 0 0 50px 19px rgba(0, 0, 0, 0.348);
    margin: auto;
    margin-right: 400px ;
    margin-top: 168px;
    z-index: 10;

}

.boxtext-precio{
    text-align: center;
    font-size: 45px;
    color: rgb(255, 217, 0);
    border-bottom: 1px solid #c37225;
    
}

.boxtext-precio p> span{
    font-size: 25px;
    color:#24262b82;
}

.boxtext-beneficios p > span{
    font-size: 25px;
    margin-left: 10px;
    
}


.boxtext-beneficios p:first-child{
    font-size: 25px;
    width: 255px;
    margin-left: 10px;
    font-weight: 700;
    color: #cf4505;
    border-bottom:1px solid gold ;
}


.boxtext-beneficios  li{
    list-style:circle;
    font-size: 20px;
    font-weight: 500;
    margin-left: 20px;
    margin-right: 10px;
    color: #cf45059e;
}




.boxtext-Horario p:first-child{
    font-size: 25px;
    width: 201px;
    margin-left: 15px;
    font-weight: 900;
    color: #cf4505;
    border-bottom:1px solid gold ;
}

.boxtext-Horario li{
    list-style: circle;
    white-space: pre-line;
    font-size: 20px;
    margin-left: 20px;
    margin-right: 10px;
    color: #cf45059e;
}

.boxtext-Contacto p:first-child {
    font-size: 25px;
    text-align: center;
    font-weight: 900;
    color: #cf4505;
}
.boxtext-Contacto span{
    border-bottom:1px solid gold ;
}


.boxtext-Contacto p:last-child{
    
    white-space: pre-line;
    font-size: 20px;
    margin-left: 20px;
    margin-right: 10px;
    margin-top: -5px;
    color: #cf4505cb;
}



/* FOOTER */


.footer{
    background-color: #24262b;
    padding: 0px;
    width: 100%;
    z-index: 10;
}

.footer-container{
    max-width: 400px;
    margin: 0 auto;
}

.footer-row{
    display: flex;
    flex-wrap: wrap;
}

.footer-links{
    width: 25%;
    padding: 0 15px;
}

.footer-links h4 {
    font-size: 20px;
    color: #FFFFFF;
    margin-bottom: 25px;
    font-weight: 500;
    border-bottom: 2px solid #00c3ff;
    padding-bottom: 10px;
    display:inline-block ;
    text-align: center;
    
    
    

}
.footer-links ul li a {
    font-size: 18px;
    color: #BBBBBB;
    display: block;
    margin-bottom: 10px;
    transition: all .3s ease;
    list-style: none;
    
    
}

.footer-links ul li a:hover{
    color: #FFFFFF;
    padding-left: 6px;
}

.social-links a{
    display: inline-block;
    min-height: 40px;
    width: 40px;
    background-color: rgb(255, 255, 255,0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #FFFFFF;
    transition: all .5s ease;
}



.social-links a:hover{
    background-color: #00c3ff;
}




