*{
    list-style: none;
}


body{
    width: 100vw;
    margin: 0;
    font-family: header;
    height: 100vh;
    display: flex;
    flex-direction: column;
    
}

header {
    display: flex;
    flex-direction: column;
    background-image: url(club.jpg);
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;  
    height: auto;
    justify-content: center;
    align-items: center;
    padding: 100px 0 0;
    width: 100%;
    z-index: 10;
    text-align: center;
    border-bottom:2px solid gold;
}



header a{
    text-decoration: none;
    color:rgb(238, 148, 30);
}




.logo-img{
    height: 280px;
}


.nav-link {
    font-weight: 500;
    width: 80px;
    padding: 10px 15px;
    font-size: 20px;
    color: rgb(238, 148, 30);
    transition: all 0.3s ease;
}

.nav-link:hover {
    background-color: bisque;
    color: #000;
}
.header-nav {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: #24262b;
    flex-wrap: wrap;
}

.menu {
    display: flex;
    justify-content: center;
    margin: 10px;
    
}

.container{
    flex: 1;
    display: flex;
}

/* MAIN */

main {
    max-height: 500vh;
    width: 100vw;
    background-color: #f0d9b5;
    
}

.presentacion{
    position: relative;
    display:flex;
    text-align: center;
    justify-content: center;
    color: #24262b;  
    background-color: #f0d9b5;
    padding-bottom: 30px;
    padding-top: 30px;
    
}



.box-precentacion{
    position: relative;
    display:flex;
    color: #24262b;  
    background-color:#24262b;
    color: #BBBBBB;
    width: 100%;
    box-shadow: 0 0 10px 1px black;
    padding: 0 0 50px 0px;
    gap: 40px;
    z-index: 10;
    
}
.box-precentacion img{
    width: 1100px;
    height: 400px;
    margin-right: 0px;
    background-size: cover; 
    background-position: center;
    box-shadow: 1px 0 10px 3px black;
    margin-top: 50px;
}

.box-precentacion p{
  font-size: 18px;                    
  line-height: 1.6;   
  font-weight: 500; 
  text-align:left;
  white-space: pre-line;
  padding:  50px 20px;
  margin-right: 20px;
  margin-top: 60px;
}


/* datos */


.club-datos{
    width: 100vw;
    height: 80vh;
    background-image:url(piezas.jpg);
    background-attachment: scroll;
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    align-items: center;
    box-sizing: border-box;
    
    

    
}
 .cuadros{
    display: flex;
    width: 100%;
    height: 100%;
    border: 1px solid beige;
    align-items: center;
    justify-content: center;
   

 }
.cuadro{
    width: 300px;
    height: 300px;
    background-color: #00000000;
    
}
.cuadro h4{
    font-size: 30px;
    font-weight: 600;
    text-align: center;
}

.cuadro p{
    color: cornsilk;
    margin: 10px;
    margin-top: 30px;
}
.cuadro1{
    background-color: #575b64e3;
}

.cuadro2{
    background-color:rgba(190, 155, 89, 0.753);
    color: #24262b;


}

.cuadro3{
    background-color: #575b64e3;
}


/* Informacion */

.Informacion{
    width: 100vw;
    height: 56vh;
    background-image:url(Imagen\ de\ WhatsApp\ 2025-04-07\ a\ las\ 17.07.06_d474e20a.jpg);
    background-position: bottom; 
    background-repeat: no-repeat;  
    background-size: cover; 
    padding-top: 15px;
    box-sizing: border-box;
    margin-top: 30px;
    box-shadow: 0 0 10px 1px black;
}

.box-informacion{
    display: flex;
    position: sticky;
    text-align: center;
    justify-content: center;
    align-items: center;

}

.Informacion-Direccion{
    width: 21.7vw;
    height: 50vh;
    text-align: center;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 10px 3px #24262b;
    background-color: #c2a35f;
}

.Informacion-texto{
   
    justify-content: center;
    align-items:center;
}

.Informacion-texto a{
    font-family: 'Courier New', Courier, monospace;
    text-decoration: none;
    white-space: pre-line;
    color: #212122;
    
    
}   


.Informacion-texto i{
    color: #da0808;
    width: 300px;

}



.Informacion-texto h3 {
    font-family: 'Courier New', Courier, monospace;
    text-decoration: none;
    white-space: pre-line;
    color: #212122;
    
}



.Informacion-Horarios{
    width: 21.7vw;
    height: 50vh;
    box-shadow: 0 0 10px 3px #24262b;
    background-color: #c2a35f;
    box-sizing: border-box;
    margin-left: 15px;
    margin-right: 30px;
    
}


.Informacion-Horarios h3{
    text-align: center;
    font-size: 30px;
    margin-bottom: auto;
    text-decoration: underline;
    color: #cbd190;
}

.Informacion-Horarios p{
    margin-left: 40px;
    text-align: left;
    color: #cc5e05;
    font-size: 20px;
}

.Informacion-Horarios h3{
    text-align: center;
    color: moccasin;
    margin: 40px;
}

.Informacion-Horarios a{ 
    color: #cc5e05;
    margin: 21px;

}

.Informacion-Horarios a:hover{ 
    color: #c07218b6;
    border-radius: 5px;
   
    
   
    
}



/* Footer */

.footer{
    background-color: #24262b;
    padding: 0px;
    width: 100%;
    z-index: 10;
}

.footer-container{
    max-width: 400px;
    margin: 0 auto;
}

.footer-row{
    display: flex;
    flex-wrap: wrap;
}

.footer-links{
    width: 25%;
    padding: 0 15px;
}

.footer-links h4 {
    font-size: 20px;
    color: #FFFFFF;
    margin-bottom: 25px;
    font-weight: 500;
    border-bottom: 2px solid #00c3ff;
    padding-bottom: 10px;
    display:inline-block ;
    text-align: center;
    
    
    

}
.footer-links ul li a {
    font-size: 18px;
    color: #BBBBBB;
    display: block;
    margin-bottom: 10px;
    transition: all .3s ease;
    list-style: none;
    
    
}

.footer-links ul li a:hover{
    color: #FFFFFF;
    padding-left: 6px;
}

.social-links a{
    display: inline-block;
    min-height: 40px;
    width: 40px;
    background-color: rgb(255, 255, 255,0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #FFFFFF;
    transition: all .5s ease;
}



.social-links a:hover{
    background-color: #00c3ff;
}


@media ( max-width:991px){
    .footer-row{
        text-align: center;

    }

    .footer-links{
        width: 100%;
        margin-bottom: 30px;
    }
    
}